* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

@font-face {
	font-family: LouisCafe;
	src: url(/louisgeorgecafe.ttf);
}

@font-face {
	font-family: RobotoRegular;
	src: url(/Roboto-Regular.ttf);
}

@font-face {
	font-family: LouisCafeLight;
	src: url(/louisgeorgecafelight.ttf);
}

@font-face {
	font-family: OpenSansLight;
	src: url(/opensanslight.ttf);
}

body {
	background-color: #f7f7f7;
	color: #7c7c7c;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: rgba(0, 0, 0, 0);
    border: 2px solid #fb728b;
    border-radius: 2px;
}

.container_1024 {
	width: 1024px;
}

#nav-bar {
	background-color: white;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 50;
	color: #7c7c7c;
	width: 100vw;
	top: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05)
}

nav {
	width: 1024px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav div h3,
nav div h6 {
	padding-right: 20px
}

nav div h3 a,
nav div h6 a {
	text-decoration: none;
	color: #474747;
	font-family: RobotoRegular;
}

nav div h3 a {
	font-size: 15px;
}

nav div h3 a:hover,
nav div h6 a:hover {
	color: #f74567;
}

@keyframes nav-bar-animation {
	from {
		margin-top: -40px;
	} to {
		margin-top: 0px;
	}
}

#projects,
#about,
#contact {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
}

#about {
	background-image: url('/bg-about-me.png');
	background-repeat: repeat-x;
	padding-bottom: 70px;
}

#projects {
	background-color: #f7f7f7;}

#projects .container_1024 {
	background-image: url('/bg-projects.png');
	background-repeat: repeat-y;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projects h1,
#about h1,
#contact h1 {
	color: #636363;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 50px;
	color: black;
	text-align: center;
}

strong {
	font-family: Consolas;
}

#introduction {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

#introduction div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#introduction p {
	font-size: 25px;
	padding: 20px;
}

#introduction p img {
	float: left;
	border-radius: 50%;
	width: 200px;
}

.underline {
	border-bottom: 1px dashed #7c7c7c;
	font-family: OpenSansLight;
	text-decoration: none;
	color: #7c7c7c;
}

a.underline:hover {
	color: #f74567;
	border-bottom: 1px dashed #f74567;
}

#contact form {
	display: flex;
	flex-direction: column;
}

#contact form input {
	border: 2px solid #dadada;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-family: Consolas;
	font-size: 16px;
}

#contact form textarea {
	resize: none;
	border: 2px solid #dadada;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-family: Consolas;
	font-size: 16px;
}

#contact div div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#panel {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	animation: out 1s forwards linear;
}

.project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;
	background-image: url('/bg-project.png');
}

.project p {
	padding-left: 20px;
	text-align: right;
	flex-grow: 1;
	font-size: 20px;
}


.project-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 0;
	width: 544px;
}

.project-description p {
	text-align: left;
	flex-grow: 0;
	font-size: 15px;
	padding-left: 64px;
}

.project-description h3 {
	padding-left: 64px;
	font-size: 25px;
}

.project-description h6 {
	padding-left: 64px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: OpenSansLight;
}

.project-left {
	text-align: right;
	margin-right: 64px;
}

p.project-left {
	text-align: right;
}


footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: Consolas;
}

.slider img {
	width: 480px;
}

.slider-arrows img {
	width: 100px;
}

.slider-arrows img:hover {
	cursor: pointer;
}

#contact-container {
	width: 800px;
	margin: auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

#contact-container-left {
	flex-grow: 1;
	text-align: right;
}

#contact-container-right {
	flex-grow: 0;
}

#contact button {
	font-size: 20px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #f74567;
	border: 1px solid #f74567;
	border-radius: 2px;
	text-decoration: none;
	font-family: OpenSansLight;
	cursor: pointer;
	background-color: white;
}

#contact button:hover {
	color: white;
	background-color: #f74567;
}

.about-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.about-col {
	flex-grow: 0;
}

.about-col img {
	width: 100px;
	margin: auto;
}

.about-col h3 {
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
}

.about-col {
	width: 250px;
	display: flex;
	flex-direction: column;
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 5px;
}

.about-col p {
	margin-top: 20px;
	text-align: center;
}

.contact-link {
	font-size: 30px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #f74567;
	border: 1px solid #f74567;
	border-radius: 2px;
	text-decoration: none;
	font-family: OpenSansLight;
}

.contact-link:hover {
	color: white;
	background-color: #f74567;
}

#contact button:disabled,
#contact button[disabled] {
	color: white;
	background-color: #f74567;
	opacity: 0.8;
	cursor: context-menu;
}

.selectedLang {
	color: #f74567;
}

img.slider-arrow {
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 0.8;
}

.slider-arrow:hover {
	opacity: 1;
}
.slider {
	width: 480px !important;
	height: 270px !important;
	position: relative;
	flex-grow: 0;
	border: 1px solid #dadada;
	overflow: hidden;
}

.slider-arrows {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.slider-arrows img {
	width: 40px;
	cursor: pointer;
	z-index: 500;
}

.slideshow {
	display: flex;
	flex-direction: row;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.red-border {
	border: 2px solid #f74567 !important;
}