@font-face {
	font-family: LouisCafe;
	src: url(/louisgeorgecafe.ttf);
}

@font-face {
	font-family: RobotoRegular;
	src: url(/Roboto-Regular.ttf);
}

@font-face {
	font-family: LouisCafeLight;
	src: url(/louisgeorgecafelight.ttf);
}

@font-face {
	font-family: OpenSansLight;
	src: url(/opensanslight.ttf);
}